[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "2.2.2"
marshmallow = "3.20.1"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
pytest = "7.2.0"
sqlalchemy = "2.0.25"
flask-restful = "*"
flask = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
